<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eBay</title>
</head>
<body>
<h1 id="cs">Hi! Welcome to eBay!!</h1>
<p>eBay caters to individual sellers and small businesses, is a market leader in e-commerce worldwide.</p>
<img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_1208082286_427081.jpg" width="400px"></img>
<a href="/cart"><button class="button">Add to Cart</button></a>
<img src="https://assets.whsmith.co.uk/product-image/large/9781471125676-10-000_1.jpg" width="400px"></img>
<a href="/cart"><button class="button">Add to Cart</button></a>
</body>
</html>