<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_1208082286_427081.jpg" width="1000px"></img>
<p>MacBook Air with M1 is an incredibly portable laptop — it's nimble and quick, with a silent, fanless design and a beautiful Retina display.</p>
<p>US $1099</p>
<button class="button">Buy</button>
<br>
<a href="/cart"><button class="button">Add to Cart</button></a>
<br>
<a href="/">go to home page</a>

</body>
</html>
